<html>
    <head>
        <!-- CONFIGURACION -->
       
    </head>
    <body>
        <!--  CONTENIDO VISUAL -->
        <h1>Titulo desde el body</h1>
        <a href="/clase1A">IR AL OTRO ARCHIVO</a>
        <h2>h2</h2>
        <h6>El mas chiquito</h6>
        <ul>
            <li>opcion 1</li>
            <li>opcion 2</li>
            <li>opcion 3</li>
        </ul>
        <ol type="A">
            <li>opcion A</li>
            <li>opcion B</li>
            <li>opcion C</li>
        </ol>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera nueva">

        <ul>
            <li>haz click <a href="">aqui</a></li>
            <a href=""><li>PRODUCTO</li></a>
        </ul>

        <!--<etiqueta atributo="valor" segundoAtributo="segundoValor">

        </etiqueta>-->
    </body>
</html>

