<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="container">
        <div id="header">
            <img src="/images/logo.png" alt="Logo del sitio">
            <ul>
                <li>HOME</li>
                <li>ABOUT US</li>
                <li>CONTACT</li>
            </ul>
        </div>
        <div class="aside">
            <ul>
                <li>categoria 1</li>
                <li>categoria 2</li>
                <li>categoria 3</li>
            </ul>
            <img src="/images/publicidad.jpg" alt="">
        </div>
        <div class="main">
            <div class="product">1</div>
            <div class="product">2</div>
            <div class="product">3</div>
            <div class="product">4</div>
            <div class="product">5</div>
            <div class="product">6</div>
        </div>
        <div id="footer">    
            <p>Copyright 2020</p>
        </div>
    </div>
</body>
</html>