<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajas</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/stylesheets/clase3.css">
</head>
<body>
    <div class="container home">
        <header>
            <div class="logo">
                <img src="" alt="">
            </div>
        </header>
        <aside>aside</aside>
        <main>
            <div>1</div>
            <div class="product-inline">2</div>
            <div class="product-inline">3</div>
        </main>
        <footer>copyright 2020</footer>
    </div>
    <section class="container-small">
        <article>1</article>
        <article>2</article>
        <article>3</article>
        <article>4</article>
        <article>5</article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </section>
</body>
</html>