<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segundo archivo de la clase 1</title>
</head>
<body>
    <h1>Clase 1 A</h1>
    <a href="/clase1">IR AL OTRO ARCHIVO</a>
</body>
</html>