<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= producto.nombre %></h1>
    <h3>$<%= toThousand(producto.precio) %></h3>
    <%- include("footer") %>
</body>
</html>