<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header") %>
    <h1>No existe ese producto en el listado.</h1>
    <%- include("footer") %>
</body>
</html>