<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/formulario" method="POST">
        Nombre:
        <input type="text" name="nombre" value="">
        <br>
        Email:
        <input type="text" name="email">
        <span></span>
        <br>
        Edad:
        <input type="text" name="edad">
        <br>
        <button type="submit">ENVIAR</button>
    </form>
    <ul>
    <% if(typeof errors != "undefined"){ %>
        <% errors.forEach(function(error){ %>
            <li><%= error.msg %></li>
        <% }); %>
    <% } %>
    </ul>
</body>
</html>