<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Registrados</title>
</head>
<body>
    <ul>
    <% users.forEach(function(user){ %>
        <li>
            Nombre: <%= user.nombre %> - 
            Email: <%= user.email %> - 
            <a href="/users/edit/<%= user.id %>">EDITAR</a> - <a href="/users/destroy/<%= user.id %>">BORRAR</a>        
        </li>
    <% }); %>
    </ul>
</body>
</html>