@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500;700;800&display=swap');


#header{
    background:pink;
}
.aside{
    background:grey;
    width:200px;
    height:500px;
}
.main{
    background:green;
    height:500px;
    width:500px;
}
.aside , .main, .product{
    display:inline-block;
    vertical-align: top;
}
#footer{
    background:pink;
}
.product{
    width:140px;
    height:180px;
    background:red;
    border:3px solid white;
}
li{
    color:red!important;
}
.container #header ul li{
    color:yellow;
    font-family: 'Sansita Swashed', cursive;
}
#header ul li{
    color:rgba(189, 168, 131,1);
    /*opacity: 0.8;*/
}
/* 
hexadecimales
    A-F  0-9
    #55e2ca
    #e4a
    #ef

rgba
    red green blue alpha(opacidad)
    0 - 255          0-1
    rgb(117,9,202)

keywords
    blue
    violet
    red



*/